body {
    background-image: url("space_bg.jpg");
    background-repeat : no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    display : flex;
    justify-content: center;
    text-align : center;
    flex-wrap: wrap;
    margin-top: auto;
}

main .affichage {
    position: relative;
    display: flex;
    margin-top: 15px;
    margin-bottom: 35px;
    justify-content: center;
    flex-direction: column;
    padding: 60px;
    top: 25px;
    /*background-color: steelblue;*/
    max-height: 90vh;
    max-width: 90vw;
    border-radius: 40% / 40%;
    overflow: hidden;
}

main .affichage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: steelblue;
    opacity: 80%;
    z-index: -1;
    filter: blur(10px);
    overflow: hidden;
}

main .affichage .equipe, main .affichage .repartition, main .affichage .complement {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 10px;
}


main .affichage .repartition .person {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    flex-grow: 1;
    margin: 5px;
}

main .affichage .repartition .person li, main .affichage .equipe li {
    list-style: none;
    margin: 0 10px;
}

main .affichage p, main .affichage li {
    margin-left: 25px;
    margin-right: 25px;
}

main .affichage h2 {
    margin-bottom: 5px;
}