body {
    background-image: url("space2.jpg");
    background-repeat : no-repeat;
    background-position: center;
    background-size: cover;
}

main {
    display : flex;
    justify-content: center;
    text-align : center;
    flex-wrap: wrap;
    margin-top: auto;
}

main .affichage {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    top: 25px;
    background-color: steelblue;
    max-height: 90vh;
    max-width: 90vw;
    overflow: auto;
    border-radius: 40% / 40%;
    opacity: 80%;
    filter : blur(0);
}

main .affichage .repartition {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 10px;
}


main .affichage .repartition .person {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    flex-grow: 1;
    margin: 5px;
}

main .affichage .repartition .person li {
    list-style: none;
    margin: 0 10px;
}
/* Si affichage avec pleins de bordure

ol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#Equipe, #Repartition, #Complement {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 5px solid #A0A0A0;
    background: #C0C0C0;

}*/
