body {
    background-image: url("space2.jpg");
    background-repeat : no-repeat;
    background-position : right;
}

main {
    display : flex;
    flex-direction: column;
    justify-content: center;
    text-align : center;
    flex-wrap: wrap;
    padding: 200px 50px 50px;
}

main .affichage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
    top: 25px;
    background-color: steelblue;
    overflow: auto;
}

main .affichage .repartition {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 10px;
}

main .affichage .repartition .person {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    flex-grow: 1;
    margin: 5px;
}

main .affichage .repartition .person li {
    list-style: none;
    margin: 0 10px;
}
/* Si affichage avec pleins de bordure

ol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#Equipe, #Repartition, #Complement {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 5px solid #A0A0A0;
    background: #C0C0C0;

}*/
