* {
    font-family: "Gill Sans MT", Verdana, sans-serif;
    box-sizing: border-box;
}
header {
    background-color: mediumslateblue;
    margin: auto;
    color : red;
}

main {
    display : flex;
    justify-content: center;
    text-align : center;
    /*width: 500px;*/
    padding-top: 5px;
    padding-bottom: 5px;
    border: 5px solid #A0A0A0;
    background: #C0C0C0;
}
/* Si affichage avec pleins de bordure

ol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#Equipe, #Repartition, #Complement {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 5px solid #A0A0A0;
    background: #C0C0C0;

}*/
