:root {
    --color-1 : blueviolet;
    --color-2 : mediumpurple;
    --color-3 : #24477b;
}

* {
    font-family: "Gill Sans MT", Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--color-3);
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-1);
    align-items: center;
    padding: 15px 100px;
    z-index: 10;
}

header .logo img {
    height: 50px;
}

header .menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
}

header .menu .navigation {
    margin: 0 20px;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

header .menu .navigation:hover {
    color: wheat;
}

header .search {
    position: relative;
    width: 200px;
    height: 30px;
}

header .search input {
    position: absolute;
    top: 0;
    left : 0;
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0 30px 0 10px;
}

header .search input::placeholder {
    color: lightgrey;
}

header .search .fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: white;
}

/* ------------------MAIN------------------- */
main .ensemble {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}
main .ensemble .jeu_moment{
    justify-content: left;
    text-align: left;
}
main .titre1 #grandtitre {
    display: flex;
    background-color: none;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    font-size: 300%;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}
main .titre1 #petittitre {
    display: flex;
    background-color: none;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin : 1%;
    font-size: 150%;
}
main .dernier_jeu {
    display: flex;
    background-color: thistle;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    align-items: center;
    justify-content: right;
    flex-flow: column wrap;
}
main .jeu_moment{
    margin-left: 1%;
    display: flex;
    background-color: ghostwhite;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    align-items: center;
    justify-content: left;
    flex-flow: column wrap;
}
main .espacement{
    display: flex;
    background-color: none;
    border-radius: 5px;
    padding: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

main .games {
    display: grid;
    max-width: 80vw;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(auto-fit, 420px);
    justify-content: right;
    grid-gap: 15px;
    padding: 10px;
}

main .games .game {
    width: 420px;
    height: 280px;
    border-radius: 5px;
}

main .games .game:hover {
    cursor: pointer;
}

main .games .game .image-jeu {
    width: 420px;
    height: 280px;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

main .games .game .text-jeu {
    display: flex;
    background-color: var(--color-2);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

main .games .game .titre-jeu {
    display: flex;
}


/* ------------------FOOTER------------------- */
footer {
    margin-top: auto;
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px 20px;
    background-color: var(--color-2);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .container .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container .menu a{
    position: relative;
    color: white;
    font-weight: 500;
    margin: 10px 30px 20px;
    text-decoration: none;
    font-size: 1em;
    border-bottom: 2px solid var(--color-3);
}

footer .container a:hover{
    color: wheat;
}

footer h6 {
    color: white;
}

@media (max-width: 1100px) {
    header {
        padding: 10px 20px;
        flex-direction: column;
    }
}
