main {
    position: relative;
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 25px;
    margin-top: 25px;
    max-width: 90vw;
    min-width: 20vw;
    width: 90%;

}

main .games {
    display: grid;
    max-width: 80vw;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(auto-fit, 320px);
    justify-content: center;
    grid-gap: 15px;
    padding: 10px;
}

main .games .game {
    width: 320px;
    height: 180px;
    border-radius: 5px;
}

main .games .game:hover {
    cursor: pointer;
}

main .games .game .image-jeu {
    width: 320px;
    height: 180px;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

main .games .game .text-jeu {
    display: flex;
    background-color: var(--color-2);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

main .games .game .titre-jeu {
    display: flex;
}

main .highscore, main .speedrun, main .menu-btns{
    display: none;
    flex-direction: column;
    align-items: center;
}


main .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

main .menu .navigation {
    display: flex;
    height: 30px;
    width: 150px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-color: white;
    margin: 20px 5px;
}

main .menu-btns .menu .navigation:hover {
    cursor: pointer;
}


main .container.first {
    background-color: var(--color-2);
    height: 100%;
}

main .box {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .highscore .box#highscores, main .speedrun .box#speedruns {
    margin-top: 25px;
    background-color: white;
    width: 100%;
}

main .box .table caption {
    font-size: 1.5em;
}

main .box .table th {
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-1);
}

main .box .table {
    width: 100%;
}

main .box .table tr, main .box .table th {
    font-size: 1.3em;
    padding: 20px;
}

main .box .table td {
    font-size: 1.3em;
    padding: 5px;
}

main .box .container {
    padding: 2px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main .container .box input, main .container .box select {
    flex-grow: 1;
    margin: 5px;
    border: none;
    border-bottom: 1px solid lightgrey;
    padding: 3px 10px;
    width: 200px;
    height: 35px;
    background-color: rgba(255,255,255,0.4);
    border-radius: 5px;
    font-size: 1.2em;
}

main .container .box input::placeholder, main .container .box select::placeholder {
    color: black;
}

main .container .box input:invalid {
    border: inherit;
    box-shadow: none;
    border-bottom: 1px solid indianred;
    caret-color: indianred;
}

main .container .box .button {
    padding: 5px;
    margin: 5px;
    background-color: rgba(255,255,255,0.4);
    outline: none;
    border: 1px solid lavender;
    border-radius: 5px;
    font-size: 1.2em;
}

main .container .box .button:hover {
    background-color: rgba(225,225,225,0.4);
}