body {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode : overlay;
    background-attachment: fixed;
}

main {
    position: relative;
    display : block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 25px;
    margin-top: 25px;
    max-width: 70vw;
    min-width: 20vw;
    width: 100%;
}

main .games {
    display: grid;
    max-width: 80vw;
    height: auto;
    grid-template-columns: repeat(auto-fit, 320px);
    justify-content: center;
    grid-gap: 20px;
    padding: 10px;
    width: 100%;
}

main .games .game {
    border-radius: 5px;
    transition: all 0.5s ease-out;
}

main .games .game:hover {
    cursor: pointer;
    transform: scale(1.2);
}

main .games .game .image-jeu {
    width: 320px;
    height: 180px;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

main .games .game .text-jeu {
    display: flex;
    background-color: var(--color-2);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

main .games .game .titre-jeu {
    display: flex;
}

main .highscore, main .speedrun, main .menu-btns{
    display: none;
    flex-direction: column;
    align-items: center;
}

main .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

main .menu .navigation {
    display: flex;
    width: 150px;
    padding: 5px 10px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-color: white;
    margin: 20px 5px;
}

main .menu-btns .menu .navigation:hover {
    cursor: pointer;
}


main .container.first {
    background-color: var(--color-2);
    height: 100%;
}

main .box {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .highscore .box#highscores, main .speedrun .box#speedruns {
    background-color: white;
    width: 100%;
    max-width: 70vw;
    overflow-x: auto;
}

main .highscore .move, main .speedrun .move {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: white;
    max-width:70vw;
    width: 100%;
}

main .box .move .fas {
    color: var(--color-3);
}

main .box .table caption {
    font-size: 1.5em;
    margin-top: 10px;
}

main .box .table th {
    text-transform: uppercase;
    border-bottom: 2px solid var(--color-1);
}

main .box .table {
    width: 100%;
}

main .box .table tr, main .box .table th {
    font-size: 1.3em;
    padding: 20px;
    text-align: center;
}

main .box .table td {
    font-size: 1.3em;
    padding: 10px;
    border-bottom: 1px solid var(--color-2);
}

main .box .container {
    padding: 2px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main .container .box input, main .container .box select {
    flex-grow: 1;
    margin: 5px;
    border: none;
    border-bottom: 1px solid lightgrey;
    padding: 3px 10px;
    width: 200px;
    height: 35px;
    background-color: rgba(255,255,255,0.4);
    border-radius: 5px;
    font-size: 1.2em;
}

main .right-label {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

main select#score-sort, select#time-sort {
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid lightgrey;
    padding: 1px 5px;
    width: 150px;
    height: 25px;
    background-color: rgba(255,255,255,1);
    border-radius: 5px;
    font-size: 1em;
}

main .container .box input::placeholder, main .container .box select::placeholder, main select::placeholder {
    color: black;
}

main .container .box input:invalid {
    border: inherit;
    box-shadow: none;
    border-bottom: 1px solid indianred;
    caret-color: indianred;
}

main .container .box .button {
    padding: 5px;
    margin: 5px;
    background-color: rgba(255,255,255,0.4);
    outline: none;
    border: 1px solid lavender;
    border-radius: 5px;
    font-size: 1.2em;
}

main .container .box .button:hover {
    background-color: rgba(225,225,225,0.4);
}

@media  (max-width: 800px ) {
    main {
        font-size: 80%;
    }
}

@media (max-width: 600px) {
    main {
        font-size: 70%;
    }

    main .menu {
        flex-direction: column;
    }

    main .menu .navigation {
        margin: 10px;
    }
}

@media (max-width: 500px) {
    main .box .table {
        font-size: 85%;
    }
}

@media (max-width: 400px) {
    main .games {
        grid-template-columns: auto;
        width: 100%;
    }

    main .games .game .image-jeu {
        width: 160px;
        height: 90px;
    }
}
