main {
    position: relative;
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 25px;
    margin-top: 25px;
    max-width: 90vw;
    min-width: 20vw;
    width: 90%;
}

main .suggestions {
    flex-direction: column;
    align-items: center;
}

main .container.first {
    background-color: var(--color-2);
    height: 100%;
}

main .box {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .suggestions .box#suggestions {
    margin-top: 25px;
    background-color: white;
    width: 100%;
    overflow-x: auto;
    max-width: 80vw;
}


main .box .table caption {
    font-size: 1.5em;
    margin-top: 10px;
}

main .box .table th {
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-1);
}

main .box .table {
    width: 100%;
}

main .box .table tr, main .box .table th {
    font-size: 1.3em;
    padding: 20px 40px;
}

main .box .table td {
    font-size: 1.3em;
    padding: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main .box .container {
    padding: 2px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main .container .box input {
    flex-grow: 1;
    margin: 5px;
    border: none;
    border-bottom: 1px solid lightgrey;
    padding: 3px 10px;
    width: 200px;
    height: 35px;
    background-color: rgba(255,255,255,0.4);
    border-radius: 5px;
    font-size: 1.2em;
}

main .container .box input::placeholder, main .container .box select::placeholder {
    color: black;
}

main .container .box input:invalid {
    border: inherit;
    box-shadow: none;
    border-bottom: 1px solid indianred;
    caret-color: indianred;
}

main .container .box .button {
    padding: 5px;
    margin: 5px;
    background-color: rgba(255,255,255,0.4);
    outline: none;
    border: 1px solid lavender;
    border-radius: 5px;
    font-size: 1.2em;
}

main .container .box .button:hover {
    background-color: rgba(225,225,225,0.4);
}

